.calendar .header {
  text-transform: uppercase;
  overflow: hidden;
  font-weight: 700;
  font-size: 115%;
  border-bottom: 1px solid var(--border-color);
  background-color: #f1f1f1;
}

.calendar .header .header-title {
  margin: 1em 0em;
  padding-top: 0.3rem;
  /* border: 1px red dashed */
}

.calendar .header .icon {
  cursor: pointer;
  transition: 0.15s ease-out;
  margin: 0em;
  padding: 1.5em;
  /* border: 1px red dashed */
}

@media only screen and (min-width: 450px) {
  .calendar .header .icon:hover {
    transform: scale(1.75);
    transition: 0.25s ease-out;
    color: var(--main-color);
  }
}

@media only screen and (max-width: 450px) {
  .calendar .header {
    font-size: 90%;
  }
  .calendar .header .icon:active {
    transform: scale(1.75);
    transition: 0.01s ease-out;
    color: var(--main-color);
  }
}

@media only screen and (max-height: 450px) {
  .calendar .header {
    font-size: 82%;
  }
  .calendar .header .icon:active {
    transform: scale(1.75);
    transition: 0.01s ease-out;
    color: var(--main-color);
  }
}

@media only screen and (max-width: 350px) {
  .calendar .header {
    font-size: 79%;
  }
}
