.footer {
  overflow: hidden;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #555;
  color: white;
}

.footer ul {
  margin: 0.2rem;
  padding: 0rem 0.3rem;
}

.footer ul li {
  display: inline;
  margin: 0rem 1rem 0rem 0.4rem;
  font-size: small;
}

.footer .right-items {
  float: right;
}

.footer .left-items {
  float: left;
}